body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

#lana-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

p {
  margin: 1em 0; /* 添加段落间距 */
}

a {
  text-decoration: none;
  color: #0066cc;
}

a:hover {
  text-decoration: underline;
}

button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#music-button {
  float: right;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(to right, #333, #666); /* 渐变背景 */
  border: none;
  border-radius: 5px; /* 圆角边框 */
  cursor: pointer;
  transition: background-color 0.3s; /* 过渡效果 */
}

#music-button:hover {
  background: linear-gradient(to right, #666, #333); /* 鼠标悬停时的渐变背景 */
}

/* 设置正文样式 */
main {
  margin: 20px;
  text-align: left; /* 文本左对齐 */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}